<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gatorbytes - Programming Challenges</title>
	<link rel="stylesheet" type="text/css" href="IDE.css">
	<link rel="stylesheet" type="text/css" href="problem.css">
	<script src="/navbar.js"></script>
</head>
<body>
	<div id="navbar-container"></div>
	<div id="problem">
		<h1 id="title"></h1>
		<p id="tags"></p>
		<pre id="content"></pre>
	</div>
	<div id="ide"></div>
	<br>
	<div id="test-cases">	
		<p>Test Cases</p>
		<div class="interaction-container">
			<button id = "run-tests" class="execution-request" type="button" onclick="runTests()">Run Tests</button>
		</div>
		<br>
		<table id="test-case-table">
			<tr>
				<th>Input</th><th>Expected Output</th><th>User Output</th>
			</tr>
		</table>
	</div>
	<br>
	<div class="interaction-container">
		<button onclick="revealSolution()" type="button">Show Solution</button>
	</div>
	<br>
	<div id="solution" style="display: none;"></div>
	<script src="problem.js"></script>
</body>
</html>
