<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Problems</title>
  <link rel="stylesheet" href="/problemset.css"> 
  <script src="/navbar.js"></script>
  <script src="/problemset.js"></script>
</head>
<body>
	<div id="navbar-container"></div>
	<br>
	<h1>Problems</h1>
	<table>
		<thead>
			<tr>
				<th>Status</th>
				<th>Title</th>
				<th>Category</th>
				<th>Difficulty</th>
			</tr>
		</thead>
		<tbody id="problemsTable">
			<tr>
				<td></td>
				<td><a href="/problem?problemID=test_problem1">test problem 1</a></td>
				<td>test</td>
				<td>easy</td>
			</tr>
			<tr>
				<td></td>
				<td><a href="/problem?problemID=test_problem2">test problem 2</a></td>
				<td>test</td>
				<td>easy</td>
			</tr>
		</tbody>
	</table>
</body>
</html>