body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}

textarea {
	resize: none;
	width: 490px;
	height: 200px;
}

#editor {
	position: relative;
	top: 0;
	width: 1000px;
	height: 500px;
}

.interaction-container {
	display: flex;
	gap: 10px;
	position: relative;
	top: 10px;
}

.interaction-container button, .interaction-container select {
	padding: 0.5rem 1rem;
	background-color: #575757;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#run-code {
	padding: 5px;
}

#languageDropdown {
	padding: 5px;
}

#in-out {
	position: relative;
	overflow: hidden;
	top: 10px;
	gap: 10px;
}

#output {
	overflow: auto;
	border: 1px solid #ccc;
	white-space: pre-wrap;
	word-wrap: break-word;
	height: 207px;
	background-color: white;
}

#in-out div {
	width: 500px;
	float: left;
}
