#test-cases table {
	border: 1px solid #AAAAAA;
	width: 1000px;
}

#test-cases table tr td {
	white-space: pre-wrap;
	border-top: 1px solid #dddddd;
}

#test-cases table tr td:hover {
	background-color: rgba(200, 200, 200, 0.3);
}

#solution {
	border: 1px solid #AAAAAA;
	width: 1000px;
}

#solution pre {
	padding-left: 10px;
}

#explanation {
	color: lime;
}

#content {
	width: 1000px;
	white-space: pre-wrap;
     word-wrap: break-word;
}
